//Celular
@media screen and (max-width:426px){
    .imgSec{
        grid-area: img;
        padding: 0% 4%;
    }
    .imgDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .iframe{
        height: 95px;
        width: 70%;
        padding: 4% 0 1% 0;
    }
}
//Tablet
@media screen and (min-width:426px) and (max-width:768px){
    .imgSec{
        grid-area: img;
        padding: 0% 4%;
    }
    .imgDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .iframe{
        height: 150px;
        width: 70%;
        padding: 4% 0 1% 0;
    }
}
//Laptop
@media screen and (min-width:769px) and (max-width: 1439px){
    .imgSec{
        grid-area: img;
        padding: 0% 4%;
    }
    .imgDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .iframe{
        height: 170px;
        width: 70%;
        padding: 4% 0 1% 0;
    }
}
//Laptop Grande
@media screen and (min-width:1440px) and (max-width: 2559px){
    .imgSec{
        grid-area: img;
        padding: 0% 4%;
    }
    .imgDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .iframe{
        height: 160px;
        width: 70%;
        padding: 2% 0 1% 0;
    }
}
//4k
@media screen and (min-width:2560px){
    .imgSec{
        grid-area: img;
        padding: 0% 4%;
    }
    .imgDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .iframe{
        height: 230px;
        width: 70%;
        padding: 4% 0 1% 0;
    }
}